<div class="colored-block">
  {% assign cta = site.data.academic_i18n.cta %}
  {% if page.layout == "home" or page.layout == "archive" %}
    {{ cta.like[page.lang] | escape }}
  {% else if page.layout == "post" %}
    {{ cta.post[page.lang] | escape }}
  {% else %}
  {% endif %}

  {{ cta.rss[page.lang][0] }}
  <a href="/feed.xml">{{ cta.rss[page.lang][1]}}</a>
  {{ cat.rss[page.lang][2]}}

  {% if site.twitter_username %}
    {{ cta.twitter[page.lang][0] }}
    <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
    {{ cta.twitter[page.lang][1] }}
  {% endif %}.
</div>
