{% assign object = include.object %}

{% if object.last_modified_at %}


  {% assign last = object.last_modified_at | date: '%Y%m%d' %}
  {% assign created = object.date | date: '%Y%m%d' %}

  {% if last != created %}
    <span class="last-update">·

    {% if site.repo %}
    <a title="{{ site.data.academic_i18n.revhistory[page.lang] }}"
       href="{{site.repo}}/commits/master/{{object.path}}">
    {% endif %}

    {{ site.data.academic_i18n.lastupdated[page.lang] }}
    {% include date.html date=object.last_modified_at %}

    {% if site.repo %}
    </a>
    {% endif %}

    </span>
  {% endif %}


{% endif %}
