<span class="nav-list-title">{{ site.data.academic_i18n.menu[page.lang] }}</span>
<ul class="nav-list {{ include.class }}">
{% for link in site.nav_ext_links %}
  {% if link.url and link.name %}
  <li><a target="_blank" class="page-link" href="{{ link.url }}">
      {% include i18n.html value=link.name %}
  </a></li>
  {% endif %}
{% endfor %}

{% assign pages = site.pages | where:"lang",page.lang %}

{% for my_page in pages %}
{% unless my_page.invisible %}
  {% if my_page.title %}
  <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
  {% endif %}
{% endunless %}
{% endfor %}
</ul>
