{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
{% assign pagename = page.path | split:"." | first %}
{% assign versions = site.data.academic_i18n.versions %}
{% assign no_versions = site.data.academic_i18n.no_versions %}

{% if page.layout == "post" %}
  {% assign i18n_posts = site.posts | where_exp:"p","p.path contains pagename" %}
{% else %}
  {% assign i18n_posts = site.pages | where_exp:"p","p.path contains pagename" %}
{% endif %}

<ul class="lang-selector">
  <span class="lang-intro">
    {{ site.data.academic_i18n.langs_avail[plang] }}
  </span>
  <li class="lang">
    <a href="{{ page.url }}" title="{{ versions[plang] }} {{ page.title }}">
      {{ plang }}
    </a>
  </li>

{% for t_lang in site.langs %}
  {% unless t_lang == plang %}
    {% assign t = i18n_posts | where:"lang",t_lang | first %}
    <li class="lang">
    {% if t %}
      <a href="{{ t.url }}" rel="alternate" title="{{ versions[t_lang] }} {{ t.title }}">
    {% else %}
      <span class="no-version" title="{{ no_versions[t_lang] }}">
    {% endif %}

    {{ t_lang }}

    {% if t %}
      </a>
    {% else %}
      </span>
    {% endif %}
    </li>
  {% endunless %}
{% endfor %}
</ul>
