{% if include.class %}
  {% if site.pitch %}
    {% assign title_class = "site-title with-pitch" %}
  {% else %}
    {% assign title_class = "site-title" %}
  {% endif %}
{% else %}
  {% assign title_class = "" %}
{% endif %}

{% capture title %}
  {% if site.title_html %}
    {% include _i18n/i18n.html value=site.title_html escape=false %}
  {% else %}
    {% include _i18n/i18n.html value=site.title %}
  {% endif %}
{% endcapture %}

<a class="{{ title_class }}" href="{% include _i18n/link.html path="index" %}">{{ title }}</a>
